@font-face {
    font-family: 'righteous';
    src: url('~@/assets/fonts/Righteous-Regular.ttf') format('truetype');
  }

@font-face {
    font-family: 'saira';
    src: url('~@/assets/fonts/Saira.ttf') format('truetype');
  }

  @font-face {
    font-family: 'montserrat';
    src: url('~@/assets/fonts/Mont.ttf') format('truetype');
  }

  @font-face {
    font-family: 'caprasimo';
    src: url('~@/assets/fonts/Caprasimo-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'bitter';
    src: url('~@/assets/fonts/Bitter.ttf') format('truetype');
  }

  @font-face {
    font-family: 'dosis';
    src: url('~@/assets/fonts/Dosis.ttf') format('truetype');
  }